<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>我是一个小吃货~~绝不告诉你~~绝不告诉你~~</string>
	<string>喂喂喂~~~你妈妈喊你喂我吃东西了~~~</string>
	<string>猜猜我是谁~~~我是一直可爱的贪吃蛇~~</string>
	<string>世界上最遥远的距离就是就是我们之间隔着一个小小的屏幕~~~</string>
	<string>Hi~~我是你的转转贪吃蛇~~我好饿了~~快来指挥我吃东西吧</string>
	<string>可爱的贪吃蛇~~ 转转转~~ 转到外婆桥</string>
	<string>老大~~ 我想吃棒棒糖T_T~~ 我饿</string>
	<string>怎么还不来喂我吃东西~~还能不能愉快的玩耍了</string>
	<string>骚年~~我不吃人的。。。放心</string>
	<string>没事就吃个棒棒糖~~报复你的CPU</string>
	<string>T_T快来快来~~饿死我就再也没人陪你玩了</string>
</array>
</plist>
